@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #fff;

  background: #111
}

text {
  /*fill: #fff;*/
}

#sun {
}

.orbit {
  stroke: #333;
  fill: transparent;
}

.orbit-asteroid-belt {
  stroke: #222;
  fill: transparent;
}

.planet {
}

.moon {
}